.v-treeview-node__label {
    font-size: inherit !important;
}

.v-input__control {
    flex-grow: 1 !important;
}

.fullHeight {
    height: 100%;
}

.adminDashboard .v-tabs-items {
    background-color: unset !important;
}

.adminDashboard .v-tabs > .v-tabs-bar {
    background-color: unset !important;
}
